@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Company";
}
<style>
 

</style>
<div class="container-fluid">
    <div class="row">
        <div class="product_title">
            <div class="col-sm-12 mob-nopad">
                <h3>Company</h3>
                <ul class="breadcrumb product_page head beforloginbread hidden-sm hidden-xs">
                    <li><a href="@Url.Action("Index","Login")"><i class="fa fa-home"></i></a></li>
                    <li><a href="@Url.Action("Index","Login")">Home</a></li>
                    <li><a href="javascript:void(0)"></a>Company</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-12 comapnydiv temrscondition mob-nopad" style="margin-top: 50px;">
            <div>
                <p><b>Our Approach</b></p>
                <p class="text-justify">Trinity Jewells is India's leading fine jewellery discovery platform focusing on giving YOU an awesome jewellery buying experience. At TJ we strive to provide you the largest collection of curated designs for every occasion, every mood and every need. We are the trend-setters and totally love designs as much as you do. We bring you some of the top Indian and Global jewellery brands – all under one roof.</p>
                <p class="text-justify"> And remember, we are not just selling jewellery, we are selling an unparalleled experience at your fingertips!</p>
            </div>
            <div>
                <p class="text_center"><b>Our Vision </b></p>
                <p class="text-justify">Our vision is to grow at a steady pace while creating happy</p>
                <p class="text-justify"> & memorable experiences for our stakeholders and keeping our values intact.</p>
            </div>
            <div>
                <p class="text_center"><b>Our Mission </b></p>
                <p class="text-justify">To value the authenticity of people we work with. To respect & empathise with our every stakeholder.</p>
                <p class="text-justify">To find creative ways of doing ordinary things everyday.</p>
            </div>
           <div>
                <p><b>Gallery</b></p>
                <div class="related_product" id="divrelatedproduct">
                    <div class="">
                        <div class="product-item owl-carousel owl-theme" id="Gallerycompany">
                            <div class="item cmp-gallery">
                                <div class="product-layout">
                                    <div class="product-thumb transition">
                                        <div class="image product-image">
                                            <a href="#0">
                                                <img src="~/Content/image/Gallery-Jewellry/1.jpg" alt="Trinity Image" class="img-responsive" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item cmp-gallery">
                                <div class="product-layout">
                                    <div class="product-thumb transition">
                                        <div class="image product-image">
                                            <a href="#0">
                                                <img src="~/Content/image/Gallery-Jewellry/2.jpg" alt="Trinity Image" class="img-responsive" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item cmp-gallery">
                                <div class="product-layout">
                                    <div class="product-thumb transition">
                                        <div class="image product-image">
                                            <a href="#0">
                                                <img src="~/Content/image/Gallery-Jewellry/3.jpg" alt="Trinity Image" class="img-responsive" style="height:206px" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item cmp-gallery">
                                <div class="product-layout">
                                    <div class="product-thumb transition">
                                        <div class="image product-image">
                                            <a href="#0">
                                                <img src="~/Content/image/Gallery-Jewellry/4.jpg" alt="Trinity Image" class="img-responsive" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item cmp-gallery">
                                <div class="product-layout">
                                    <div class="product-thumb transition">
                                        <div class="image product-image">
                                            <a href="#0">
                                                <img src="~/Content/image/Gallery-Jewellry/5.jpg" alt="Trinity Image" class="img-responsive" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <p><b>Our History</b></p>
                <div class="">
                    <div class="container" id="timelineCompanydiv">
                        <div class="row align-items-center how-it-works d-flex">
                            <div class="col-sm-2 text-center bottom d-inline-flex justify-content-center align-items-center">
                                <div class="circle font-weight-bold">2000</div>
                            </div>
                            <div class="col-sm-6">
                                <h5>Diamond Polish & Trading work </h5>
                                <p>In this year we started diamond polish work and trading work.</p>
                            </div>
                        </div>
                        <!--path between 1-2-->
                        <div class="row timelineCompany">
                            <div class="col-sm-2">
                                <div class="corner top-right"></div>
                            </div>
                            <div class="col-sm-8">
                                <hr />
                            </div>
                            <div class="col-sm-2">
                                <div class="corner left-bottom"></div>
                            </div>
                        </div>
                        <!--second section-->
                        <div class="row align-items-center justify-content-end how-it-works d-flex">
                            <div class="col-sm-6 text-right">
                                <h5>Factory Expand for Diamond polish </h5>
                                <p>In 2002 we expand factory for diamond polish</p>
                            </div>
                            <div class="col-sm-2 text-center full d-inline-flex justify-content-center align-items-center">
                                <div class="circle font-weight-bold">2002</div>
                            </div>
                        </div>
                        <!--path between 2-3-->
                        <div class="row timelineCompany">
                            <div class="col-sm-2">
                                <div class="corner right-bottom"></div>
                            </div>
                            <div class="col-sm-8">
                                <hr />
                            </div>
                            <div class="col-sm-2">
                                <div class="corner top-left"></div>
                            </div>
                        </div>
                        <!--third section-->
                     
                        <div class="row align-items-center how-it-works d-flex">
                            <div class="col-sm-2 text-center full-left d-inline-flex justify-content-center align-items-center">
                                <div class="circle font-weight-bold">2005</div>
                            </div>
                            <div class="col-sm-6">
                                <h5>Open Diamond Trading Office</h5>
                                <p>In 2005 we opened Diamond tranding office at princess plaza , surat.</p>
                            </div>
                        </div>
                        <!--path between 1-2-->
                        <div class="row timelineCompany">
                            <div class="col-sm-2">
                                <div class="corner top-right"></div>
                            </div>
                            <div class="col-sm-8">
                                <hr />
                            </div>
                            <div class="col-sm-2">
                                <div class="corner left-bottom"></div>
                            </div>
                        </div>
                        <div class="row align-items-center justify-content-end how-it-works d-flex">
                            <div class="col-sm-6 text-right">
                                <h5>Become Member of GEPC</h5>
                                <p>In 2007 trinity join the GEPC.</p>
                            </div>
                            <div class="col-sm-2 text-center full d-inline-flex justify-content-center align-items-center">
                                <div class="circle font-weight-bold">2007</div>
                            </div>
                        </div>
                        <!--path between 2-3-->
                        <div class="row timelineCompany">
                            <div class="col-sm-2">
                                <div class="corner right-bottom"></div>
                            </div>
                            <div class="col-sm-8">
                                <hr />
                            </div>
                            <div class="col-sm-2">
                                <div class="corner top-left"></div>
                            </div>
                        </div>
                        <!--third section-->

                        <div class="row align-items-center how-it-works d-flex">
                            <div class="col-sm-2 text-center full-left d-inline-flex justify-content-center align-items-center">
                                <div class="circle font-weight-bold">2010</div>
                            </div>
                            <div class="col-sm-6">
                                <h5>Jewellery Manufacturing Unit started</h5>
                                <p>In 2010 start the manufacture jewellery.</p>
                            </div>
                        </div>
                        <div class="row timelineCompany">
                            <div class="col-sm-2">
                                <div class="corner top-right"></div>
                            </div>
                            <div class="col-sm-8">
                                <hr />
                            </div>
                            <div class="col-sm-2">
                                <div class="corner left-bottom"></div>
                            </div>
                        </div>
                        <!--second section-->
                        <div class="row align-items-center justify-content-end how-it-works d-flex">
                            <div class="col-sm-6 text-right">
                                <h5>Jewellery Unit Expanded</h5>
                                <p>In 2013 expanded more and more jewellery</p>
                            </div>
                            <div class="col-sm-2 text-center full d-inline-flex justify-content-center align-items-center">
                                <div class="circle font-weight-bold">2013</div>
                            </div>
                        </div>
                        <!--path between 2-3-->
                        <div class="row timelineCompany">
                            <div class="col-sm-2">
                                <div class="corner right-bottom"></div>
                            </div>
                            <div class="col-sm-8">
                                <hr />
                            </div>
                            <div class="col-sm-2">
                                <div class="corner top-left"></div>
                            </div>
                        </div>
                        <!--third section-->

                        <div class="row align-items-center how-it-works d-flex">
                            <div class="col-sm-2 text-center full-left d-inline-flex justify-content-center align-items-center">
                                <div class="circle font-weight-bold">2015</div>
                            </div>
                            <div class="col-sm-6">
                                <h5>Diamond & Gold Jewellery  </h5>
                                <p>In 2015 we start to make diamond and gold Jewellery</p>
                            </div>
                        </div>
                        <!--path between 1-2-->
                        <div class="row timelineCompany">
                            <div class="col-sm-2">
                                <div class="corner top-right"></div>
                            </div>
                            <div class="col-sm-8">
                                <hr />
                            </div>
                            <div class="col-sm-2">
                                <div class="corner left-bottom"></div>
                            </div>
                        </div>
                        <div class="row align-items-center justify-content-end how-it-works d-flex">
                            <div class="col-sm-6 text-right">
                                <h5>New Unit started for Diamond Jewellery Manufacturing</h5>
                                <p>In 2017 we started new unit for manufacture diamond jewellery.</p>
                            </div>
                            <div class="col-sm-2 text-center full d-inline-flex justify-content-center align-items-center">
                                <div class="circle font-weight-bold">2017</div>
                            </div>
                        </div>
                        <!--path between 2-3-->
                        <div class="row timelineCompany">
                            <div class="col-sm-2">
                                <div class="corner right-bottom"></div>
                            </div>
                            <div class="col-sm-8">
                                <hr />
                            </div>
                            <div class="col-sm-2">
                                <div class="corner top-left"></div>
                            </div>
                        </div>
                        <!--third section-->

                        <div class="row align-items-center how-it-works d-flex">
                            <div class="col-sm-2 text-center top d-inline-flex justify-content-center align-items-center">
                                <div class="circle font-weight-bold">2018</div>
                            </div>
                            <div class="col-sm-6">
                                <h5>B2B Mobile App Launch  And<br />Opened First Trinity Outlet  &#64;Deepakamal Mall </h5>
                                <p>In 2018 we opened our First Trinity Outlet At Deepakamal Mall And also Launch B2B Mobile Application.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
