@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Terms & Conditions";
}
<div class="row">
        <div class="product_title">
            <div class="col-md-12">
                <h3>Terms & Conditions</h3>
                <ul class="breadcrumb product_page head beforloginbread">
                    <li><a href="@Url.Action("Index","Login")"><i class="fa fa-home"></i></a></li>
                    <li><a href="@Url.Action("Index","Login")">Home</a></li>
                    <li><a href="javascript:void(0)"></a>Terms & Conditions</li>
                </ul>
            </div>
    </div>
    <div class="col-md-12 temrscondition" style="margin-top: 50px;">
        <div>
            <p><b>Terms of Use</b></p>
            <p>Please read these terms of use carefully before using this website. If you do not agree to this Terms of Use you may not use this Website. By using this Website, you signify your explicit assent to this Terms of Use as well as the Website's Privacy Policy (which is hereby incorporated by reference herein). These Terms of Use sets out the legally binding terms of services available on the Website as well as at the terms of use of this Website. These Terms of Use along with the Privacy Policy extends to both users, who visit the Website but do not transact business on the Website ("Users / Guests") as well as users who are registered with by the Website to transact business on the Website ("Members"). The Company reserves the right to modify or terminate any portion of the Website or the Services offered by the Company for any reason, without notice and without liability to you or any third party. You are responsible for regularly reviewing these Terms of Use so that you will be apprised of changes, if any. Nothing in these Terms of Use should be construed to confer any rights to third party beneficiaries.
            </p>
        </div>
        <div>
            <p><b>Definitions</b></p>
            <p>
                "Jewellery" means the jewellery that is predesigned or jewellery set with diamonds and / or gemstones that are available for sale on our website. Please note that all Jewellery is sold on "as is" basis. "Mounts" are defined as designs that hold a diamond(s) / gemstone(s) in place, which may or may not have diamonds/ gemstones. Members can select Mounts and diamonds separately to create customized Jewellery. "Loose Diamonds" are individual diamonds that can be bought without being set on Mounts.
            </p>
        </div>
        <div>
            <p><b>Trademarks</b></p>
            <p>
                The trademarks, names, logos and service marks (collectively "trademarks") displayed on this website are registered and unregistered trademarks of the website owner. Nothing contained on this website should be construed as granting any license or right to use any trademark without the prior written permission of the website owner.
            </p>
        </div>
        <div>
            <p><b>External links</b></p>
            <p>
                External links may be provided for your convenience, but they are beyond the control of the website owner and no representation is made as to their content. Use or reliance on any external links and the content thereon provided is at your own risk.
            </p>
        </div>
        <div>
            <p><b>Warranties</b></p>
            <p>
                The website owner makes no warranties, representations, statements or guarantees (whether express, implied in law or residual) regarding the website.
            </p>
        </div>
        <div>
            <p><b>Prices</b></p>
            <p>
                Our pricing is calculated using current precious metal and gem prices to give you the best possible value. These prices do change from time to time, owing to the fluctuations in prices of precious metal and gem prices, so our prices change as well.
            </p>
            <p>Prices on trinityjewells.com are subject to change without notice. Please expect to be charged the price for the Trinity Jewells merchandise you buy as it is listed on the day of purchase.</p>
        </div>
        <div>
            <p><b>Conflict of terms</b></p>
            <p>If there is a conflict or contradiction between the provisions of these website terms and conditions and any other relevant terms and conditions, policies or notices, the other relevant terms and conditions, policies or notices which relate specifically to a particular section or module of the website shall prevail in respect of your use of the relevant section or module of the website.</p>
        </div>
        <div>
            <p><b>Severability</b></p>
            <p>Any provision of any relevant terms and conditions, policies and notices, which is or becomes unenforceable in any jurisdiction, whether due to being void, invalidity, illegality, unlawfulness or for any reason whatever, shall, in such jurisdiction only and only to the extent that it is so unenforceable, be treated as void and the remaining provisions of any relevant terms and conditions, policies and notices shall remain in full force and effect.</p>
        </div>
        <div>
            <p><b>Free Gift</b></p>
            <p>All free gifts are treated as discounts.</p>
            <p>In Case of Partial Cancellation or Returns of Orders with a Free gift, the Amount refunded will not include the discount attributed to the Free Gift.</p>
        </div>
        <div>
            <p><b>Other conditions</b></p>
            <p>All Disney merchandise orders to be shipped within India, international orders cannot be fulfilled for this collection.</p>
        </div>
    </div>
</div>